.App {
  padding: 2% 10%;

  .heading-area {
    .title {
      margin-bottom: 10px;
    }

    .subtitle {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 800px) {
  .App {
    padding: 2% 5%;
  }
}
